.wrapper{
    //border:   solid, 5px, #342c5a;
    //height:  auto;
}

body {
  margin:0;
  padding:0;
  color:#333;
  font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight:700;
}

.header {
    width: 100%;
    height:  125px;
    
    /*background-color:   #d4ecf6;*/
    
}

.pic1 {
    float: left;
}

img {
    
    width: 80px;
    height: 80px;
    padding:  10px 10px 10px 10px;
}

.name {
    font-size: 26px;
    letter-spacing: 2px;
    margin:   0 0 0 0 ;
    padding:   20px 0 0 0;
   
 
}

.heading {
    font-size: 16px;
    margin:   0 0 0 0;
    
}

.navbar {
    //float: left;
    color: #2308f8;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    padding: 0px 0 0 0;
    //text-align:  center;
    width:   1300px;
    //margin:   0;
}

nav ul li {
    float: left;
    display: inline-block;
    width: 140px;
    text-align: left;
    padding: 0 0 15px 0;
}

li {
    //width:  200px;
}

a {
    color: #2308f8;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
}

.hereNow {
    color:    #237b22
}


.header2 {
    width: 100%;
    height: 70px;
    /*background-color: #e8eff4;*/
}

.pic2 {
    float: left;
    border: solid, 10px, black;
    padding:  25px 10px 10px 10px;
}



.img2 {
    width: 150px;
    height: 180px;
    padding: 0 0 0 20px;
}

.name2 {
    float:  left;
    font-size: 26px;
    letter-spacing: 2px;
    /* text-transform: uppercase;--> */
    margin: 0 0 0 0;
    padding: 25px 0 0 30px;
 
}

.heading2 {
    font-size: 16px;
    margin: 0 0 0 0;
}


.content{
    width:   100%;
    height:   350px;
}


h3 {
    font-weight:   bold;
}



#rightbar {
    width: 67%;
    //height: 400px;
    /*background-color: #e8eff4;*/
    font-size: 16px;
    padding: 0 2% 0 2%;
    float: left;
}

.bio {
    font-size: 16px;
    float: left;
    width: 100%;
    height:  100%;
    padding: 0 2% 0 0;
}

h5 {
    padding: 0 0 0 15px;
    font-size:  15px;
    font-family:  'Century Gothic', 'Times New Roman', Calibri;
    font-weight: 400;
}

.skills
{
    font-size: 16px;
    float: left;
    width: 100%;
    padding: 0 2% 0 0;
}


.pers, .refer {
    font-size: 16px;
    float: left;
    width: 100%;
    padding: 0 2% 0 0;
}




#footer {
    width: 100%;
    
}



#foot {
    color:  #2816d6;
    font-size:    16px;
    font-style:    italic;
    text-align:     center;
    //display:    inline;
    padding:   0 0 0 0px;
}

