.wrapper {
    // border: solid, 5px, #342c5a;
     width: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: #333;
    font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.header {
    width: 100%;
    height: 125px;
}

.pic1 {
    float: left;
}

/*img1 is the frog logo*/
.img1 {
    width: 80px;
    height: 80px;
    padding: 10px 10px 10px 10px;
}

.name {
    font-size: 26px;
    letter-spacing: 2px;
    /* text-transform: uppercase;--> */
    margin: 0 0 0 0;
    padding: 20px 0 0 0;
}

.heading {
    font-size: 16px;
    margin: 0 0 0 0;
}

.navbar {
    //float: left;
    color: #2308f8;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    padding: 0px 0 0 0;
    //text-align: left;
    //display: inline;
    width: 1300px;
    //margin: 0;
}

nav ul li {
    float: left;
    display: inline-block;
    width: 140px;
    text-align: left;
    padding: 0 0 15px 0;
}

li {
    //width: 120px;
}

a {
    color: #2308f8;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
}

    a:hover {
        color: purple;
        background-color: wheat;
    }

.hereNow {
    color: #237b22
}


.content{
    width:   100%;
   // height:    400px;
}

h3 {
    font-weight: bold;
    text-decoration:   underline;
}


#leftbar div p {padding: 0 0 0 20px}
#rightbar div p {padding: 0 0 0 30px}

#leftbar {
    width: 46%;
    
    //height: 450px;
    background-color: white;
    font-size: 16px;
    padding: 0 0 0 2%;
    float: left;
}

#rightbar {
    width: 46%;
    //height: 450px;
    background-color: white;
    font-size: 16px;
    padding: 0 0 0 5%;
    float: right;
}

.bio, .work, .education {
    font-size: 16px;
    float: left;
    width: 100%;
    padding: 0 2% 0 0;
}


.skills
{
    font-size: 16px;
    float: left;
    width: 100%;
    line-height:   1.65;
    padding: 0 2% 0 0;
}


.pers, .refer {
    font-size: 16px;
    float: left;
    width: 100%;
    padding: 0 2% 0 0;
}

p {
    width: 100%;
    margin:   0 0 0 0;
}


#footer {
    width: 100%;
    //height:  10%;
    float:  left;
}

#foot {
    color:  #2816d6;
    font-size:    16px;
    font-style:    italic;
    //text-align:   center;
    padding:  15px 0 0 300px;
    //height:  60px;
}