.wrapper {
    // border: solid, 5px, #342c5a;
    //width: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: #333;
    font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.header {
    width: 100%;
    height: 125px;
}

.pic1 {
    float: left;
}

/*img1 is the frog logo*/
.img1 {
    width: 80px;
    height: 80px;
    padding: 10px 10px 10px 10px;
}

.name {
    font-size: 26px;
    letter-spacing: 2px;
    /* text-transform: uppercase;--> */
    margin: 0 0 0 0;
    padding: 20px 0 0 0;
}

.heading {
    font-size: 16px;
    margin: 0 0 0 0;
}

.navbar {
    //float: left;
    color: #2308f8;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    padding: 0px 0 0 0;
    //text-align: left;
    //display: inline;
    width: 1300px;
    //margin: 0;
}

nav ul li {
    float: left;
    display: inline-block;
    width: 140px;
    text-align: left;
    padding: 0 0 15px 0;
}

li {
    //width: 120px;
}

a {
    color: #2308f8;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
}

    a:hover {
        color: purple;
        background-color: wheat;
    }

.hereNow {
    color: #237b22
}



.header2 {
    width: 100%;
    height: 100px;
    border: solid, 1px, black;
}

.picA{
    float:   left;
    height:   100%;
}

h1 {
    margin:  0;
}

.turk {
    
    width: 100px;
    height: 100px;
    padding:  0 0 0 0;
    margin:  0 0 15px 25px;
}


.name2 {
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
    
    padding:   30px 0 0 140px;
}


#content{
    width:   100%;
    height:    700px;
    padding:   20px 20px 20px 20px;
}

.vidpic {
    width: 360px;
    height: 90px;
    
}

.pic1a {
    
    padding: 10px 10px 10px 10px;
    float:   left;
   }

.pic2 {
    padding: 10px 10px 10px 10px;
    float: left;
    
}

.pic3 {
    padding: 10px 10px 10px 10px;
    float: left;
   
}

.pic4 {
    padding: 10px 10px 10px 10px;
    float: left;
   
}

#footer {
    width: 100%;
    height: 50px;
}



#foot {
    float: left;
    width: 80%;
    text-align: center;
    color: #2816d6;
    font-size: 16px;
    font-style: italic;
    padding: 0 0 0 0;
    display: inline;
}

