.wrapper{
   // border:   solid, 5px, #342c5a;
  //  width:    100%;
}

body {
  margin:0;
  padding:0;
  color:#333;
  font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight:700;
}

.header {
    width: 100%;
    height:  110px;  
}

.pic1 {
    float: left;
}

/*img1 is the frog logo*/
.img1 {
    
    width: 80px;
    height: 80px;
    padding:  10px 10px 10px 10px;
}

.name {
    font-size: 26px;
    letter-spacing: 2px;
    /* text-transform: uppercase;--> */
    margin:   0 0 0 0 ;
    padding:   20px 0 0 0;
}

.heading {
    font-size: 16px;
    margin:   0 0 0 0; 
}

.navbar {
    //float: left;
    color: #2308f8;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    padding: 0px 0 0 0;
    //text-align:  left;
    //display:    inline;
    width:   1300px;
    //margin:   0;
}

nav ul li {   
    float:    left;
    display:  inline-block; 
    width:  140px;
    text-align:   left;
    padding:  0 0 15px 0;
}

li {
    //width:  120px;
    
}

a {
    color: #2308f8;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
}

a:hover {
    color: purple;
    background-color: wheat;
}

.hereNow {
    color:    #237b22
}


.header2 {
    width: 100%;
    height: 70px;
    /*background-color: #e8eff4;*/
}

.pic2 {
    float: left;
    
}

/*img2 is the compass/ruler pic*/
.img2 {
    width: 70px;
    height: 70px;
    padding: 0 0 0 20px;
}

.name2 {
    font-size: 26px;
    letter-spacing: 2px;
    /* text-transform: uppercase;--> */
    margin: 0 0 0 0;
    padding: 25px 0 0 100px;
 
}

.heading2 {
    font-size: 16px;
    margin: 0 0 0 0;
}


.content{
    width:   100%;
    height:   400px;
    margin:   auto;
}


h3 {
    font-weight:   bold;  
   //height:   30px;
   margin:   18.72px 0 18.72px 0;
}

.spacer1 {
    height:   35px;
}


.link1 {
    margin-left:   160px;
}

.link2 {
    margin-left: 66px;
}

.link4 {
    margin-left: 45px;
}

.link6 {
    margin-left: 8px;
}

figcaption.popup1 {
    padding: 10px 10px 10px 10px;
    background: #e1e1e1;
    position: relative;
    width: 600px;
    height: 390px;
    box-shadow: 0 0 15px #abdeed;
    visibility: hidden;
}

.thumblink1:hover figcaption.popup1 {
    position: absolute;
    top: 285px;
    left: 300px;
    //visibility: visible;
}

.thumblink1 {
    margin: 0;
    height: 20px;
}

.job1 {
    display: inline;
}


.popup1 p {
    font-family: 'Monotype Corsiva';
    font-weight: bold;
    font-size: 24px;
    color: #299c16;
}

/* img5 is the kemper plant popup pic*/
.img5 {
    height: 335px;
    width: 600px;
}


figcaption.popup6 {
    padding:   10px 10px 10px 10px;
    background:   #e1e1e1;
    position:  relative;
    width:  1100px;
    height:  300px;
    box-shadow:  0 0 15px #abdeed;
    visibility:   hidden;
}

.thumblink6:hover figcaption.popup6 {
    position:  absolute;
    top: 150px;
    left: 300px;
    //visibility:  visible;
}

.thumblink6 {
    margin:  18.72px 0 18.72px 0;   // add margin here to get on same heirarchy as prev and next h3's'
    height:  20px;
}

.job6 {
    display:   inline;
}
    

.popup6 p {

    font-family:    'Monotype Corsiva';
    font-weight:       bold;
    font-size:        24px;
    color:   #299c16;
   
}

/* img4 is the Hatch nuke plant popup pic */
.img4 {
    height:  243px;
    width:   1098px;

}


/*  #leftbar  ended up not being used   */

/*  midbar is the container for the timebar graphic */
#midbar {
    width:      130px;
    height: 420px;
    float: left;
    background-color:   white;
    padding:   10px 10px 10px 10px;
}

/*
.pic3 {
    //float: left;
    //border: solid, 10px, black;
}
    */

/*  img3 is the timebar graphic */
.img3 {
    //width: 100px;
    height: 410px;
    padding: 0px 0px 0px 30px;
    float:   left;
}

/*  rightbar is the container for all of the job titles that correspond
    to the timebar
*/
#rightbar {
    width: 80%;
    height: 400px;
    font-size: 16px;
    padding: 40px 0 0 40px;
    float: left;
    text-align: left;
    display:  block;
}

.bio, .work, .education {
    font-size: 16px;
    float: left;
    width: 100%;
    padding: 0 2% 0 0;
}

.bio h3 a {
    height:   20px;
    padding:  40px;
}


.skills
{
    font-size: 16px;
    float: left;
    width: 100%;
    padding: 0 2% 0 0;
}



#footer {
    width: 100%;
    height:  50px;
}



#foot {
    float:  left;
    width:  80%;
    text-align:   center;
    color:  #2816d6;
    font-size:    16px;
    font-style:    italic;
    padding:  0 0 0 0;
    display:   inline;
}

/*
nav {
    float: right;
    color: #2308f8;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    padding: 0 30px 0 0;
    display:   inline;
}
 */   