.wrapper{
    border:   solid, 5px, #342c5a;
    
}

body {
  margin:0;
  padding:0;
  color:#333;
  font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight:700;
}

.header {
    width: 100%;
    height:  125px;
    
    /*background-color:   #d4ecf6;*/  
}

.pic1 {
    float: left;
    
}

img {
    
    width: 80px;
    height: 80px;
    padding:  10px 10px 10px 10px;
}

.name {
    font-size: 26px;
    letter-spacing: 2px;
    /* text-transform: uppercase;--> */
    margin:   0 0 0 0 ;
    padding:   20px 0 0 0;
}

.heading {
    font-size: 16px;
    margin:   0 0 0 0; 
}

.navbar {
    float: right;
    color: #2308f8;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    padding: 20px 0 0 0;
    text-align:  center;
    width:   1300px;
    margin:   0;
}

nav ul li {   
    float:    right;
    display:  block; 
}

li {
    width:  200px;
}

a {
    color: #2308f8;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
}

.hereNow {
    color:    #237b22
}


.header2 {
    width: 100%;
    height: 70px;
    /*background-color: #e8eff4;*/
}

.pic2 {
    float: left;
    
}


.img2 {
    width: 70px;
    height: 70px;
    padding: 0 0 0 20px;
}

.name2 {
    font-size: 26px;
    letter-spacing: 2px;
    /* text-transform: uppercase;--> */
    margin: 0 0 0 0;
    padding: 25px 0 0 100px;
 
}

.heading2 {
    font-size: 16px;
    margin: 0 0 0 0;
}


.content{
    width:   100%;
    height:   400px;
    margin:   auto;
}


h3 {
    font-weight:   bold;  
}

figcaption.popup6 {
    padding:   10px 10px 10px 10px;
    background:   #e1e1e1;
    position:  relative;
    width:  1116px;
    box-shadow:  0 0 15px #abdeed;
    visibility:   hidden;
}

.thumblink6:hover figcaption.popup6 {
    position:  absolute;
    top: 150px;
    left: 300px;
    visibility:  visible;
}

.thumblink6 {
    margin:  0;
}

.job6 {
    display:   inline;
}
    

.popup6 p {

    font-family:    'Monotype Corsiva';
    font-weight:       bold;
    font-size:        24px;
   
}

.img4 {
    height:  243px;
    width:   1098px;

}

/*
a.link6 {
    width:  300px;
}
    */

#leftbar {
    width: 20%;
    height: 330px;
    /*background-color: #e8eff4;*/
    font-size: 16px;
    padding: 0 2% 0 2%;
    float: left;
    text-align: right;
}

#midbar {
    width:100px;
    height: 330px;
    float: left;
    background-color:   white;
    padding:   0 0 0 140px;
}

.pic3 {
    float: left;
    border: solid, 10px, black;
}


.img3 {
    width: 100px;
    height: 315px;
    padding: 12px 0 0 0;
    float:   left;
}


#rightbar {
    width: 80%;
    height: 330px;
    /*background-color: #e8eff4;*/
    font-size: 16px;
    padding: 20px 0 0 40px;
    float: left;
    text-align: left;
    display:  block;
}

.bio, .work, .education {
    font-size: 16px;
    float: left;
    width: 100%;
    padding: 0 2% 0 0;
}

.bio h3 a {
    
    padding:  40px;
}


.skills
{
    font-size: 16px;
    float: left;
    width: 100%;
    padding: 0 2% 0 0;
}




nav {
    float: right;
    color: #2308f8;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    padding: 20px 60px 0 0;
    text-align: center;
}

#footer {
    width: 100%;
    height:  10%;
}



#foot {
    color:  #2816d6;
    font-size:    16px;
    font-style:    italic;
    text-align:     center;
    padding:  0 0 0 0;
    height:   60px;
}